/*'#8FC93A',
'#E4CC37',
'#E18335',
'#F2545B',
'#70C1B3',
'#A23B72',*/



  .chart {
    width: 75%;
    margin: 40px auto;
  }

  .header {
    height: 75px;
    padding: 20px;
    background-color: #1797C6;
  }

  #logo {
    width: 200px;
    height: auto;
    float: right;
  }

  .wrapper {
    padding: 40px 20px;
    margin: 0 auto;
    width: 80%;
  }

  h3 {
    font-family: "Nunito", "Sans Serif";
    color: #8FC93A;
  }

  h4 {
    font-family: "Nunito", "Sans Serif";
    color: white;
  }

  h5 {
    font-family: "Nunito", "Sans Serif";
    color: white;
  }

  li {
    color: white;
  }

  .area-box {
    background-color: #F2545B;
    width: 400px;
    height: 175px;
    border-radius: 20px;
    padding: 20px;
  }

